/**
 * CONTENTS
 *
 * IMPORTS
 *
 * LAYOUT SETUP
 * Global...............General native elements properties
 *
 * LAYOUT
 * .layout BEM block............... Block and nested elements properties
 *
 * THUMBNAIL
 * .thumbnail BEM block............... Block and nested elements properties
 *
 * LIST
 * .list BEM block............... Block and nested elements properties
 *
 * BTN
 * .btn BEM block............... Block and nested elements properties
 *
 * COLOR-PICKER
 * .color-picker BEM block............... Block and nested elements properties
 *
 * SIZE-PICKER
 * .size-picker BEM block............... Block and nested elements properties
 */





/*------------------------------------*\
  #LAYOUT SETUP
\*------------------------------------*/

@import './variables';





/*------------------------------------*\
  #LAYOUT SETUP
\*------------------------------------*/

html { height: 100%; }

body {
    background-color: var(--main-bg-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 18px;
}





/*------------------------------------*\
  #LAYOUT
\*------------------------------------*/

.layout { 
    display: grid;
    grid-row-gap: 10px;
    margin: 50px auto;
    max-width: 1000px;
}

.layout--product {
    grid-template-rows: 500px auto;
    grid-template-columns: 50% 50%;
}





/*------------------------------------*\
  #THUMBNAIL
\*------------------------------------*/

.thumbnail { }

.thumbnail--full { 
    height: 100%;
    width: 100%;
}





/*------------------------------------*\
  #LIST
\*------------------------------------*/

.list { }

    .list__item { }

    .list__item--uppercase { text-transform: uppercase; }

    .list__item--left-margin-15 { margin-left: 15px; }

.list--no-bullets { list-style-type: none; }

.list--squared { list-style-type: square; }

.list--inline { display: flex; }

.list--no-padding-left { padding-left: 0; }

.list--no-margin { margin: 0; }





/*------------------------------------*\
  #BTN
\*------------------------------------*/

.btn { 
    border: none;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    height: 40px;
    letter-spacing: 1px;
    outline: none;
    min-width: 120px;
    text-transform: uppercase;

    svg {
        font-size: 18px;
        margin-right: 5px;
    }
}

.btn--primary {
    background-color: var(--teal-300);
    color: var(--gray-50);

    &:active {
        background-color: var(--teal-500);
    }
}

.btn--catchy {
    background-color: var(--amber-400-a);
    font-weight: bold;
}

.btn--disabled {
    background-color: var(--gray-300);
    color: var(--gray-900);

    &:active {
        background-color: var(--gray-300);
        color: var(--gray-900);
    }
}

.btn--center-content {
    align-items: center;
    display: flex;
    justify-content: center;
}





/*------------------------------------*\
  #COLOR-PICKER
\*------------------------------------*/

.color-picker { }

    .color-picker__color {
        display: inline-block;
        font-size: 20px;
        font-weight: bold;
        line-height: 40px;
        color: white;
        text-align: center;
        height: 40px;
        margin-left: 13px;
        width: 40px;

        &:first-of-type {
            margin-left: 0;
        }
    }

    .color-picker__title {
        font-size: 13px;
        margin: 0 0 3px 3px;
    }

    .color-picker__selected-color {
        font-weight: bold;
        font-size: 14px;
        margin-left: 5px;
    }

    .color-picker__selected-color--dark-blue {
        color: $shoes-dark-blue;
    }

    .color-picker__color--selected {
        border: 2px solid var(--teal-300);
    }

    .color-picker__color--dark-blue {
        background-color: $shoes-dark-blue;
    }

    .color-picker__color--blue {
        background-color: $shoes-blue;
    }

    .color-picker__color--gray {
        background-color: $shoes-gray;
    }

    .color-picker__color--black {
        background-color: $shoes-black;
    }




    
/*------------------------------------*\
  #SIZE-PICKER
\*------------------------------------*/

.size-picker { }

    .size-picker__title { }

    .size-picker__size {
        display: inline-block; 
        width: 25px;
        height: 25px;
        margin-left: 5px;
        line-height: 25px;
        text-align: center;
        border: 1px solid var(--gray-300);
        background-color: white;
        font-weight: bold;
    }

    .size-picker__size--out-of-stock {
        color: var(--gray-400);
    }

    .size-picker__size--selected {
        border: 2px solid var(--teal-300);
    }