/**
 * CONTENTS
 *
 * LAYOUT SETUP
 * Global...............General native elements properties
 *
 * LAYOUT
 * .layout BEM block............... Block and nested elements properties
 *
 * THUMBNAIL
 * .thumbnail BEM block............... Block and nested elements properties
 *
 * LIST
 * .list BEM block............... Block and nested elements properties
 *
 * BTN
 * .btn BEM block............... Block and nested elements properties
 *
 */





/*------------------------------------*\
  #LAYOUT SETUP
\*------------------------------------*/

html { height: 100%; }

body {
    background-color: var(--main-bg-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 18px;
}





/*------------------------------------*\
  #LAYOUT
\*------------------------------------*/

.layout { 
    display: grid;
    grid-row-gap: 10px;
    margin: 50px auto;
    max-width: 1000px;
}

.layout--product {
    grid-template-rows: 500px auto;
    grid-template-columns: 50% 50%;
}





/*------------------------------------*\
  #THUMBNAIL
\*------------------------------------*/

.thumbnail { }

.thumbnail--full { 
    height: 100%;
    width: 100%;
}





/*------------------------------------*\
  #LIST
\*------------------------------------*/

.list { }

    .list__item { }

    .list__item--uppercase { text-transform: uppercase; }

    .list__item--left-margin-15 { margin-left: 15px; }

.list--no-bullets { list-style-type: none; }

.list--inline { display: flex; }

.list--no-padding-left { padding-left: 0; }

.list--no-margin { margin: 0; }





/*------------------------------------*\
  #BTN
\*------------------------------------*/

.btn { 
    border: none;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    height: 40px;
    letter-spacing: 1px;
    outline: none;
    width: 120px;
    text-transform: uppercase;
}

.btn--primary {
    background-color: var(--teal-300);
    color: var(--gray-50);

    &:active {
        background-color: var(--teal-500);
    }
}

.btn--disabled {
    background-color: var(--gray-300);
    color: var(--gray-900);

    &:active {
        background-color: var(--gray-300);
        color: var(--gray-900);
    }
}