/**
 * CONTENTS
 *
 * VARIABLES AND MIXINS
 * Globals...............Variables and mixins to reused on stylesheets
 *
 */





/*------------------------------------*\
  #VARIABLES AND MIXINS
\*------------------------------------*/

/*shoes colors*/

$shoes-black: #222;
$shoes-blue: #0e6cd1;
$shoes-dark-blue: #062c72;
$shoes-gray: #d8d8d6;