/*------------------------------------*\
  #ProductReview
\*------------------------------------*/

.ProductReview { 
    border-bottom: 1px solid var(--gray-300);
    padding-bottom: 10px; 
    padding-left: 10px;

    &:last-of-type {
        border-bottom: none;
    }
}

    .ProductReview__title { 
        font-size: 15px; 
        margin-bottom: 0px;
    }

    .ProductReview__rating { 
        align-items: center;
        display: flex;
        margin-top: 5px; 
    }

    .ProductReview__info {
        margin-left: 10px;
    }

    .ProductReview__user-name {
        color: var(--teal-400);
    }